.people__wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "warning warning" "input input";
  gap: 10px;
}
.input {
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: right;
  padding: 0.5rem;
  max-width: 900px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--gray);
  background-image: url("../../assets/icon-person.svg");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  color: var(--green);
  outline: none;
  grid-area: input;
}
.input:focus {
  border: 1.5px solid var(--cyan);
  transition: border 0.3s ease-in-out;
}
.input__warning {
  border: 1.5px solid var(--orange);
  transition: border 0.3s ease-in-out;
}
.input__warning:focus {
  border: 1.5px solid var(--orange);
  transition: border 0.3s ease-in-out;
}
.grid__title {
  grid-area: title;
}
.grid__warning {
  grid-area: warning;
}
@media screen and (min-width: 768px) {
  .people__wrapper {
    grid-template-areas: "title warning" "input input";
  }
}